<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Ninjas - About</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style_lp.css')}}">
        
    </head>
    <body>
        <h2>About Ninjas</h2>
        <img src="{{ url_for('static', filename='img/leo.png') }}">
        <p>Ninjas come from Japan, and are typically stealthy assassains.<br>
            They usually wear tight fitting clothing, and a mask. A ninja's<br>
            fighting skills are very honed, and they use fancy weapons like<br>
            swords. The Teenage Mutant Ninja Turtles were ninjas.</p>
        
    </body>
</html>